<!-- recall speech -->
<script type="text/ng-template" id="confirm-dialog.html">

	<h2>Vill du verkligen återkalla din taltur?</h2>

	<button
			ng-click="vm.deleteSpeech()"
			class="btn btn-success btn-mega"
	>Ja</button>

	<button
			ng-click="vm.showCancelSpeech = null"
			class="btn btn-danger btn-mega"
	>Nej</button>

</script>


<!-- show some hours before -->
<script type="text/ng-template" id="not-active.html">

	<h1><span ng-if="vm.currentSeating.type == 1">Plenum</span><span ng-if="vm.currentSeating.type == 2">Frågestunden</span> börjar kl. {{ vm.currentSeating.ts | date : "HH:mm" }}</h1>

</script>

<!-- lock screen -->
<div class="center-content" ng-if="vm.lockScreen">
	<img class="img-responsive center-block" src="../../assets/images/logo_grey.png" width="400" height="400" alt="logo">
</div>


<!-- current speaker-screen -->
<div class="center-content" ng-if="vm.isSpeaker">
	<h1>Aktuell talman</h1>
</div>

<!-- main screen -->
<div class="row no-gutter" ng-if="!vm.lockScreen && !vm.isSpeaker">

	<!-- Plenum -->
	<div ng-if="vm.currentSeating.type == '1'">

		<div class="col-md-6" ng-class="{ 'col-md-offset-3' : vm.isGovernor }">

			<div id="agenda-list" ng-include="'/view/templates/agenda.tpl.html'"></div>

		</div>

		<div class="col-md-6" ng-if="!vm.isGovernor">

			<div class="flex-column" ng-if="!vm.showCancelSpeech && vm.seatingActive">
				<button
					ng-click="vm.requestSpeech(button)"
					class="btn btn-primary btn-mega btn-block"
					ng-repeat="button in vm.buttons"
					ng-disabled="button.disabled"
					ng-class="{ 'btn-success active' : button.active }"
				>{{ button.title }}</button>
			</div>

			<div class="confirm" ng-if="vm.showCancelSpeech" ng-include="'confirm-dialog.html'"></div>

			<div class="center-content"
				 ng-if="!vm.seatingActive"
				 ng-include="'not-active.html'"
			></div>

		</div>

	</div>

	<!-- Frågestund -->
	<div class="col-md-12" ng-if="vm.currentSeating.type == '2'">

		<div class="flex-row" ng-if="!vm.showCancelSpeech && vm.seatingActive">
			<button
				ng-click="vm.requestQuestion(button)"
				class="btn btn-primary btn-mega btn-block"
				ng-repeat="button in vm.ministers"
				ng-disabled="button.disabled"
				ng-class="{ 'btn-success active' : button.active }"
			>{{ button.role_title }}<span ng-if="button.type < 2">et</span> {{ button.last_name}}</button>
		</div>

		<div class="confirm" ng-if="vm.showCancelSpeech" ng-include="'confirm-dialog.html'"></div>

		<div class="center-content"
			 ng-if="!vm.seatingActive"
			 ng-include="'not-active.html'"
		></div>

	</div>

</div>
