<div class="modal-container vote">
	<div class="modal-header">
		<h4 class="modal-title">{{ vm.currentVoting.title }}</h4>
	</div>

	<div class="modal-body">

		<div class="btn-holder" ng-repeat="btn in vm.currentVoting.buttons">
			<button
				class="btn btn-block btn-mega btn-primary"
				ng-class="{ '{{ btn.button }} active' : vm.currentVoting.myVote == btn.id, 'btn-default' : vm.currentVoting.myVote != btn.id }"
				ng-click="vm.sendVote(btn)"
			>{{ btn.title }}
			</button>
		</div>
	</div>
</div>
