[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

* {
    transition-duration: 0.4s;
    transition-property: all;
}

.ng-leave {
    transition-duration: 0s;
}

html, body {
    height: 100vh;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media (max-width: 1280px)  { /* dölj muspekaren på mindre skärmar */
    body { cursor: none !important;}
    /*body { cursor: crosshair !important}*/
}

::-webkit-scrollbar {
    display: none;
}

.client #wrapper {
    height: 89vh;
}

.client #wrapper .col-md-6, .client #wrapper .col-md-12 {
    height: 89vh;
    overflow-y: scroll;
}

#agenda-list {
    height: 100%;
    overflow: scroll;
}

.row.no-gutter {
    height: 100%;
    /*margin-left: 0;
    margin-right: 0;*/
}

.client .row.no-gutter [class*='col-']:not(:first-child),
.client .row.no-gutter [class*='col-']:not(:last-child) {
  /*padding-right: 0;*/
  padding-left: 0;
}

#header {
    margin-bottom: 10px;
    min-height: 60px;
}

#header h3, #header h4 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
}

.flex-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: space-around;
    justify-content:space-around;
    height: 100%;
}

.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    height: 100%;
}

.flex-row .btn {
    margin: 2%;
    padding: 0 2%;
    max-width: 46%;
    flex: 1 1 auto;
    font-size: 2.7em;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    background: #272b30;
}

/********* LISTAN *******/

.counter {
    position: absolute;
    left: 14px;
    top: 27%;
    font-size: 2em;
    filter: opacity(0.3);
    text-align: center;
    width: 30px;
}

.link-style {
   padding: 6px 0;
}

.link-style .fa {
    display: none;
}

.link-style::after {
    content: '\f105';
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    margin: 0 0 0 0.25em;
    text-decoration: none;
}

#agenda-list .list-group-item.passed {
    opacity: 0.3;
}

#agenda-list .list-group-item.active, .list-group-item.active:hover {
    color: #42b142;
    border-left: 10px solid;
    padding-left: 50px;
}

#agenda-list .list-group-item.active::after, .list-group-item.active:hover::after {
    transition-duration: 0.8s;
    left: 0;
	top: 50%;
	border: 30px solid rgba(136, 183, 213, 0);
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #42b142;
	margin-top: -30px;
}

#agenda-list .list-group-item.active .counter {
    color: transparent;
}

#agenda-list .list-group-item {
   padding: 15px 10px 15px 60px;
   margin-bottom: 10px;
}

#agenda-list .list-group-item-heading {
   line-height: 1.3;
}

#agenda-list .list-group-item-success h3, .list-group-item-success h4 {
    text-shadow: none;
}

#agenda-list .list-group-item.isSeparateItem:not(.passed) {
    margin-left: 3em;
    position: relative;
}

#agenda-list .list-group-item.hasSeparateHeader:not(.passed) {
    margin-top: 3em;
}

#agenda-list .list-group-item.hasSeparateHeader:not(.passed)::before {
    content: 'Tilläggslista';
    top: -1.5em;
    position: absolute;
    left: 0;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.3em;
    color: #c8c8c8;
}

/****** /LISTAN *******/


/**** KNAPPAR ****/

.btn-mega {
    font-size:45px;
    padding:50px 20px;
    outline-style: none !important;
    cursor: none !important;
}

.btn-primary.btn-mega:not(.active):hover {
	background-color: #7a8288 !important;
	background-image: none;
}

.btn-mega:disabled {
	pointer-events: none;
	opacity: 0.14;
}

/**** /KNAPPAR ***/


/* modal */

.modal-wrapper {
    z-index: 1050;
    position: relative;
}

.modal-wrapper .modal-backdrop {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.modal {
    display: block;
    overflow: auto;
    text-align: center;
}

.modal-title {
    font-size: 2em;
}

.attendance .modal-title {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
}

.modal .close {
    color: #42b142;
    opacity: 1;
    line-height: 0.4;
    font-size: 4em;
    outline-style: none !important;
}

.modal .modal-dialog {
    z-index: 1060;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: left;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.modal .modal-dialog .modal-content {
    border-radius: 2px;
    width: 90vw;
    height: 90vh;
    margin-top: -50px;
}

.modal .modal-dialog {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.no-csstransforms .modal-dialog {
    position: relative;
    left: auto;
    top: auto;
    margin: auto;
}

.modal .modal-body {
    min-height: 83vh;
}

.modal .modal-body iframe {
    width: 100%;
    height: 78vh;
    background: #000;
    border-radius: 2px;
}

.modal .attendance .btn, .modal .vote .btn {
    width: 70%;
    margin: 0 auto 0.9em;
}

.modal .attendance .btn {
    margin-top: 2.5em;
}

/* /modal */

.confirm {
    display: flex;
    flex-wrap: wrap;
}

.confirm h1, .confirm h2 {
    text-align: center;
    width: 100%;
}

.confirm .btn {
    margin: 6%;
    flex: 1 1 auto;
}

.col-md-6 .confirm .btn {
    flex-basis: 100%;
}

/*************/

.indent-1 {
    margin-left: 40px;
}

.indent-2 {
    margin-left: 80px;
}

.indent-3 {
    margin-left: 120px;
}

.indent-4 {
    margin-left: 160px;
}

/**************/


.voting-results .panel .text-center {
    padding: 10px;
}
