
<div class="nav list-group">

		<div
			class="list-group-item"
			ng-repeat="item in vm.currentSeating.items"
			ng-class="{ 'list-group-item-success' : item.id == vm.currentSeating.current_item }"
			id="item-{{ item.id }}"
		>
			<span class="counter">{{ item.idx }}</span>

			<h3 class="list-group-item-heading">{{ item.case.title }}</h3>
			<h4 class="list-group-item-text">{{ item.case.code }} | {{ item.type.title }}</h4>
			<h4 ng-repeat="doc in item.case.document"
				ng-click="vm.openDocument(doc)"
				class="list-group-item-text link-style">
				<i class="fa fa-file"></i> {{ doc.title }}
			</h4>

		</div>
</div>
