<h1>{{ vm.case.title }}<br /><small>{{ vm.case.code }}</small></h1>
<h2>{{ vm.case.type.title }} <!--<span class="label label-info">{{ vm.case.theme.title }}</span>--></h2>

<p><a ng-click="vm.testBtn()">Omröstningstest</a></p>
<p><a ng-click="vm.testBtn2()">Närvaroregistreringstest</a></p>

<p ng-if="vm.case.description">{{ vm.case.description | striphtml }}</p>

<div  ng-if="vm.case.related_laws.length > 0 && vm.case.related_laws[0].title != ''">
	<h3>Berörda lagar</h3>
	<ul>
		<li ng-repeat="law in vm.case.related_laws">{{ law.title }}</li>
	</ul>
</div>

<!--
<ul>
	<li ng-repeat="phase in vm.case.phases">{{ phase.phase.title }} <span ng-if="phase.state"> - AKTUELLT</span></li>
</ul>
-->

<h3>Åtgärder</h3>
<div class="panel panel-default" ng-repeat="event in vm.case.items">
	<div class="panel-heading" ng-click="event.toggled = !event.toggled">
		<h4>{{ event.type.title }} <small>{{ event.date | date:'yyyy-MM-dd' }}</small></h4>
		<h5 ng-if="event.responsible.length > 0">Ansvarig: {{ event.responsible | responsible }}</h5>
	</div>

	<div class="panel-body" ng-if="(event.sequence.length > 0 || event.document.length > 0) && event.toggled">

		<div ng-if="event.document.length > 0">
			<h4>Dokument</h4>
			<ul>
				<li ng-repeat="document in event.document">
					<a ng-href="{{ document.path }}">{{ document.title }}</a>
				</li>
			</ul>
		</div>

		<div ng-if="event.sequence.length > 0">
			<h4>Tal & omröstningar</h4>
			<div ng-repeat="item in event.sequence">
				<div ng-if="item.source === 'speeches'" class="speech {{ item.type.style }}">
					<h5>{{ item.person.name }} <span class="label label-default">{{ item.type.title }}</span></h5>
					<p>{{ item.speech | striphtml }}</p>
				</div>

				<div ng-if="item.source === 'votings'">
					<h5>Omröstning</h5>
					<h4>{{ item.title }}</h4>
					<ul>
						<li ng-repeat="vote in item.votes">{{ vote.title }} <span class="label pull-right" style="background-color: {{ vote.color }}">{{ vote.count }}</span>
						</li>
					</ul>

				</div>
			</div>

		</div>

	</div>
</div>
